.input {
  width: 100%;
  box-shadow: 0 1px 3px rgba(47, 43, 67, 0.1), inset 0px -1px 0px rgba(47, 43, 67, 0.1);
  border-radius: 12px;
  border: 1px solid rgba(47, 43, 67, 0.1);
  padding: 8px 12px !important;
}