@import "src/app/styles/vars";

.container {
  max-width: 408px;
  min-width: 220px;
  padding: 40px;
  gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF;

  border: 1px solid rgba(47, 43, 67, 0.1);
  border-radius: 32px;
  @media screen and (max-width: $iphoneWidth) {
    max-width: 240px;
    gap: 12px;
    padding: 20px;
  }
}

.view {
  position: relative;
  width: 72px;
  height: 72px;
}

.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  @media screen and (max-width: $iphoneWidth) {
    font-size: 18px;
    line-height: 26px;
  }
}