@import "src/app/styles/vars.scss";

.header {
  height: $headerHeight;
  padding: 0 $layoutPadding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $ipadWith) {
    padding: 0 $layoutPaddingIpad;
  }
  @media screen and (max-width: $iphoneWidth) {
    padding: 0 $layoutPaddingMobile;
  }
}

.locale, .burgerIcon {
  cursor: pointer;
}

.highlightedLocale {
  color: $blue
}